:root {
  --color-base: #202122;
  --border-color-base: #a2a9b1;
}

body {
  color: var(--color-base);
  margin: 40px;
}

h1, h2 {
  font-family: "Linux Libertine";
  font-weight: normal;
}

h1, h2, h3 {
  margin: 30px 0px 0px 0px;
}

h3 {
  font-family: sans-serif;
}

li, p {
  font-family: sans-serif;
  line-height: 1.6em;
}

figure {
  float: right;
  background-color: #f8f9fa;
  border: 1px solid #a7aeb5;
  padding: 10px;
  margin: 0px 0px 0px 40px;
}

figure img {
  max-width: 225px;
}

figure p {
  margin: 0px;
  text-align: center;
}

hr {
  margin: 0px;
}