:root {
  --color-base: #202122;
  --border-color-base: #a2a9b1;
}

body {
  color: var(--color-base);
  margin: 20px;
}

h1, h2 {
  font-family: "Linux Libertine";
  font-weight: normal;
  margin: 30px 0px 0px 0px;
}

p, li {
  font-family: sans-serif;
  line-height: 1.6em;
}

hr {
  margin: 0px;
}